<%- include('templates/encabezado')%>
<link rel="stylesheet" href="/static/css/login.css" type="text/css"/>
<br />

<!--Menú de opciones-->
<div class="menu">
  <a type="button" href="/admin/comunidad/<%= administrador[0].identificador%>">
    <center>
    <img id="imgNavar" src="/static/img/navbar/regreso.png" alt="404Imagen Link">
    <br />
    Regresar
  </center>
  </a>
  <a type="button" href="/admin/HomeAdmin/<%= administrador[0].identificador%>">
    <center>
    <img id="imgNavar" src="/static/img/navbar/home.png" alt="404Imagen Link">
    <br />
    Home
  </center>
  </a>
  <a type="button" href="/logout">
    <center>
    <img id="imgNavar" src="/static/img/navbar/salir2.png" alt="404Imagen Link">
    <br />
    Salir
  </center>
  </a>
</div>

<center>
  <div class="card">
    <div class="card-header">
      <h3>Actualiza información</h3>
      <img src="/static/img/icons/personas.png" alt="404Error"/>
    </div>
    <div class="card-body">
      <form action="/admin/ModificarUsuario/<%= administrador[0].identificador%>/<%= usuario[0].identificador%>" method="post">
        <div>
          <!--
            <input type="hidden" name="estado" class="form-control" value="true">
            <input type="hidden" name="tipo" class="form-control" value="usuario">
            <input type="hidden" name="idAdmin" class="form-control" value="<%= administrador[0].id%>">
          -->
        </div>
        <div>
        <label>Nombre:</label>
        <input type="text" name="nombre" class="form-control" value="<%= usuario[0].nombre%>">
      </div>
      <div>
        <label>Apellido:</label>
        <input type="text" name="apellido" class="form-control" value="<%= usuario[0].apellido%>">
      </div>
      <div>
        <label>Correo:</label>
        <input type="email" name="correo" class="form-control" value="<%= usuario[0].correo%>">
      </div>
    </div>
    <div class="card-footer">
        <button type="submit">Modificar</button>
      </form>
    </div>
  </div>
</center>
<br /><br />


<%- include('templates/pie')%>