<%- include('templates/encabezado')%>
<link rel="stylesheet" href="/static/css/prestarLibro.css" type="text/css"/>

<!--Código-->
<%
  var ordenInicio;
  if(libro[0].orden >= 0 && libro[0].orden < 100 ){
    ordenInicio = 0;
  }
  else if(libro[0].orden >= 100 && libro[0].orden < 200 ){
    ordenInicio = 100;
  }
  else if(libro[0].orden >= 200 && libro[0].orden < 300 ){
    ordenInicio = 200;
  }
  else if(libro[0].orden >= 300 && libro[0].orden < 400 ){
    ordenInicio = 300;
  }
  else if(libro[0].orden >= 400 && libro[0].orden < 500 ){
    ordenInicio = 400;
  }
  else if(libro[0].orden >= 500 && libro[0].orden < 600 ){
    ordenInicio = 500;
  }
  else if(libro[0].orden >= 600 && libro[0].orden < 700 ){
    ordenInicio = 600;
  }
  else if(libro[0].orden >= 700 && libro[0].orden < 800 ){
    ordenInicio = 700;
  }
  else if(libro[0].orden >= 800 && libro[0].orden < 900 ){
    ordenInicio = 800;
  }
  else if(libro[0].orden >= 900 && libro[0].orden < 1000 ){
    ordenInicio = 900;
  }
 
%>

<!--Menú de opciones-->
<div class="menu">
    <a type="button" href="/admin/prestamo/<%= libro[0].id%>/<%= libro[0].categoria%>/<%= administrador[0].identificador%>">
        <center>
        <img id="imgNavar" src="/static/img/navbar/regreso.png" alt="404Imagen Link">
        <br />
        Regresar
        </center>
    </a>
    <a type="button" href="/admin/HomeAdmin/<%= administrador[0].identificador%>">
      <center>
      <img id="imgNavar" src="/static/img/navbar/home.png" alt="404Imagen Link">
      <br />
      Home
    </center>
    </a>
    <a type="button" href="/logout">
      <center>
      <img id="imgNavar" src="/static/img/navbar/salir2.png" alt="404Imagen Link">
      <br />
      Salir
    </center>
    </a>
</div>

<div class="encabezado"></div>
<header id="principal">
    <h1><%= libro[0].titulo%> V.<%= libro[0].volumen%></h1>
</header>
<br />

<div class="container">
    <div class="row">

      <form action="/admin/prestamoLibro/<%=libro[0].id%>/<%= libro[0].categoria %>/<%= usuario[0].correo%>/<%= administrador[0].identificador%>" method="post">
        <center>
          <div class="fechas">
              <br />
              Fecha de prestamo: 
              <input type="date" name="fechaInicio" class="form-control mb-3" />
              Fecha de entrega:
              <input type="date" name="fechaLimite" class="form-control mb-3" />
              <button type="submit" class="btn btn-danger mb-3">Aceptar</button>
          </div>
        </center>
      </form>
    </div>
</div>